@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
<div class="text-center">
    <div class="widget">
    <h1 class="display-4">Welcome</h1>
    <h1>@Model.shifts.FirstName</h1>
    <h1>Schedule Shift Days</h1>
<form method="post">
<div class="form-group">

<div class="form-group row mt-5 mb-5">
    <input type="hidden" class="form-control"  asp-for="shifts!.FirstName" id="firstName" placeholder="Name">
</div>
</div>

    <table class="table">
        <tr>
        @foreach (var item in @Model.DaysOfWeek)
        {
            @if(item.Value.Contains(@Model.shifts.FirstName!))
            {
                <th><input name="CheckedDays" type="checkbox" checked value="@item.Key" />@item.Key</th>     
            }
            else
            {
                <th><input name="CheckedDays" type="checkbox" value="@item.Key" />@item.Key</th>     
            }
        } 
        </tr>
    </table>
    <div class="form-group row mt-5">
    <div class="col-sm-13">
        <button type="update" asp-page-handler="Reset" class="submitbtn">UPDATE</button>
        @* <button type="submit" asp-page-handler="Shift" class="submitbtn">SUBMIT</button> *@
    </div>
    </div>
</form>
</div>
</div>
</div>
