@page
@model waitersRazorPages.Pages.ManagerViewModel
@{
    ViewData["Title"] = "Manager View";
}
<div class="widget">
   <form method="post">
        <h1 class="display-5 mb"><strong>The Week's Schedule</strong></h1>
        @if(@Model.shiftClass.Week == 0)
        {
            <p class="display-5 mb para blink">Week One</p>
        }
        else 
        {
            <p class="display-5 mb para blink">Week Two</p>
        }
        <button class="btnse" asp-page-handler="Previous">Week-1</button>
        <button class="btnse"asp-page-handler="Next">Week-2</button>
        <table class="table table-bordered mytable">
            <thead>
                <tr>
                    <th>DAYS</th>
                    <th>WAITERS</th>
                </tr>
            </thead>
            @foreach (var item in @Model.DayDates)
            {
            <tbody>
                
                <td>
                    @item.Value<br> 
                    @item.Key 
                </td>
                <td>
                    @if(@Model.DaysOfWeek.ContainsKey(item.Key))
                    {
                        @foreach (var waiters in @Model.DaysOfWeek[item.Key])
                        {
                            <input  type="submit"  class="btn" asp-for="@Model.UserName" value="@waiters" asp-page-handler="Update">
                        }
                    }
            </td>      
        </tbody>
        }
        
        </table>
        @if(TempData["AlertMessage"] != null)
        {
            <div class="alert alert-success">
                <b>@TempData["AlertMessage"]</b>
            </div>
        }
        <div class="form-group row mt-5">
        <div class="col-sm-10">
            @if(@Model.UserName == "Admin")
            {
                <button type="submit" asp-page-handler="delete" class="button-73">RESET</button>
            }
            @if(@Model.UserName == null)
            {
                <button type="Index" asp-page-handler="LogIn" class="button-73 blink">Login</button>
            }
    </div>
    </div>
    </form>
</div>
