@page
@using Microsoft.AspNetCore.Http;
@model waitersRazorPages.Pages.ScheduleShiftModel

<div class="container">
    <div class="text-center">
        <form method="post">
            <div class="widget">
                <div class="form-group">
                    <h6 class="display-5">Welcome<strong> <b>@Model.Username</b></strong></h6>
                    <h6 class="display-5"><strong>Schedule Shift Days</strong></h6>
                        <button class="btns" asp-page-handler="Previous">Week-1</button>
                        <button class="btns" asp-page-handler="Next">Week-2</button>
                    <table class="table mytable">
                        <tr>
                            <th>DAY</th>
                            <th>Date</th>
                            <th>SELECT</th>
                            <th>STATUS</th>
                        </tr>
                        @foreach (var item in @Model.DayDates)
                        {
                            <tr>
                                <td>
                                    @item.Key.DayOfWeek
                                </td> 
                                <td>
                                    @item.Key
                                </td>
                                @if(@Model.DaysOfWeek.ContainsKey(item.Key))
                                {
                                <td>
                                    @if(@Model.DaysOfWeek[item.Key].Contains(@Model.Username))
                                    {
                                        <input class="checkbox" name="CheckedDays" checked type="checkbox" value="@item.Key"/>           
                                    }
                                    else
                                    {
                                        <input class="checkbox" name="CheckedDays" type="checkbox" value="@item.Key"/>      
                                    }
                                </td>
                                <td>
                                    @if(@Model.DaysOfWeek[item.Key].Count() == 0)
                                    {
                                        <i class="fa fa-battery-empty" id="empty" aria-hidden="true"><br>Empty</i>
                                    }
                                    else if(@Model.DaysOfWeek[item.Key].Count() < 3) 
                                    {
                                        <i class="fa fa-battery-empty" id="warning" aria-hidden="true"><br>Half-Empty</i>
                                    }
                                    else if(@Model.DaysOfWeek[item.Key].Count() >= 3)
                                    {
                                        <i class="fa fa-battery-full" id="good" aria-hidden="true"><br>Full</i>
                                    } 
                                </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input class="checkbox" name="CheckedDays" type="checkbox" value="@item.Key"/>
                                        </td>
                                        <td>
                                            <i class="fa fa-battery-empty" id="empty" aria-hidden="true"><h6>Empty</h6></i>
                                        </td>    
                                    }
                            </tr>
                        }
                    </table>
                        @if(TempData["Message"] != null)
                        {
                            <div class="alert alert-success">
                                <b>@TempData["Message"]</b>
                            </div>
                        } 
                    <div class="form-group row mt-5">
                        <div class="col-sm-13">
                            @if(@Model.Username != null)
                            {
                                <button type="update" asp-page-handler="Reset" class="button-73">UPDATE</button>
                            }
                            @if(@Model.Username == null)
                            {
                                <button type="Index" asp-page-handler="LogIn" class="button-73 blink">Login</button>
                            }
                    </div>
                    <div class="form-group row mt-5 mb-5">
                        <input type="hidden" class="form-control"  asp-for="Username" id="firstName" placeholder="Name">
                        <input type="hidden" class="form-control"  asp-for="shifts.Week" id="firstName" placeholder="Name">
                    </div>
                </div>
            </div>    
        </form>
    
    </div>
</div>

